{% load static %}
{%load widget_tweaks%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
</head>

<body>
    <div class="container d-flex h-100">
        <div class="row justify-content-center">
            <div class="col-10">
                {%block main%}
                {% endblock %}
            </div>
        </div>
    </div>
    {% block js %}
    {% if task_id %}
        <script src="{% static 'js/other.js' %}"></script>
    {% endif %}
      <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
      <script src='{% static "js/ajax_test.js" %}'></script>

      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {% endblock %}
</body>

</html>