{% extends 'Test/Index.html' %}
{% load staticfiles %}
{%block main%}
<form method="POST" id="myForm"></form>
<table class="table table-bordered" id="myTable">
    <thead>
        <th>
            Select all<br/><input type="checkbox" onclick="toggle(this)">
        </th>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
    </thead>
    <tbody>
    </tbody>
</table>

<div id="roomform">
    <button id="createUser" class="btn createBtn"> Create User </button>
    <button id="sendEmail" class="btn sendBtn">Send Email</button>
    <div class="loader" id="loader" hidden="true"></div>
    <textarea id="textsend" style="margin-left: 730px"></textarea>
</div>





{% endblock main %}

{%block extrajs%}
<script src="{% static 'js/ajax_test.js' %}"></script>
<script src="{% static 'js/other.js' %}"></script>
{%endblock extrajs%}